# 忽略所有 .md 文件，但保留 README.md
*.md
!README.md

# 忽略 docs 文件夹
docs/

# 忽略 archive 文件夹
archive/

# 忽略模型文件
models/
*.tar.gz
*.tar
*.pdmodel
*.pdiparams
*.pdopt

# 忽略结果文件
results/

# 忽略日志
log_output/
*.log
